<!DOCTYPE html>
<html>


   <body>
<center>

        
        <table border="1" >  <!-- table = used for create tabel, tr = for table row,th = for table colomn,td = for table data. -->
            <caption><b><h3>REPORT</b></h3></caption>
            <thead>  <!--table head for understand purpose-->
                <tr>
                    <th>Attributes</th>
                    <th> Values</th>
                   
                </tr>
            </thead>
            <tbody> <!--table body for understand purpose-->
                <tr>
                    <td> AGE </td>
                    <td> {{query1}} </td>
                    
                </tr>
                <tr>
                    <td> GENDER </td>
                    <td> {{query2}}</td>
                    
                </tr>
                <tr>
                    <td> CIG </td>
                    <td> {{query3}}</td>
                </tr>
				 <tr>
                    <td> HR </td>
                    <td> {{query4}}</td>
                </tr>
				 <tr>
                    <td> BMI </td>
                    <td> {{query5}}</td>
                </tr>
				 <tr>
                    <td> SBP </td>
                    <td> {{query6}}</td>					
                </tr>
				 <tr>
                    <td> OUT </td>
                    <td> {{output1}}</td>
                </tr>
				 <tr>
                    <td> PROBABILITY </td>
                    <td> {{output2}}</td>
                </tr>
            </tbody>
        </table>
		<br><br><br><br>
		<a href="https://healthcare--project.herokuapp.com/"><input type="button"  name="" value="Refresh" /></a>
		
    </center>
	</body>
	</html>
